body {
	background: black;
	color: white;
	font-family: Verdana, sans-serif;
}

a{
	color: white;
}


div.header {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

div.logoRezo1 {
	border-bottom: solid;
	border-right: solid;
	padding: 0pt;
	width: 15%;
}

div.intro {
	font-size: 160%;
	margin: auto;
	border-top: solid;
	border-bottom: solid;
}

div.connect {
	border-bottom: solid;
	border-left: solid;
	padding-top: 10pt;
	padding-left: 10pt;
	text-align: left;
}

div.connect2 {
	padding-left: 10pt;
	text-align: left;
}

span.connectText {
	font-weight: bold;
	font-size: 120%;
}


span.listName {
	color: gold;
	font-weight: bold;
	font-size: 140%;
}


p.sommaireP{
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

img.logoListe {
	float : middle;
}


div.speech {
	display: block;
	font-size: 100%;
}


div.jeux {
	display: block;
	font-size: 100%;
}

div.sketch-holder {
	width:100%;
	padding-left: auto;
	padding-right: auto;
}

span.nom {
	color: blue;
	font-weight: bold;
}

span.vote {
	color: red;
	font-weight: bold;
}

span.tranche {
	color: red;
	font-weight: bold;
}

span.nonTranche {
	color: lime;
	font-weight: bold;
}

div.commentaire {
	border-top: solid;
	border-left: solid;
	border-bottom: solid;
	padding: 10pt;
	padding-left: 20pt;
	padding-bottom: 20pt;
	border-color: white;
	margin-left: 20pt;
	margin-right: 10%;
}

span.ecrit {
	color: #808080;
}

span.repondu {
	color: #808080;
}

span.time {
	color: green;
	font-weight: bold;
}

div.reponse {
	margin-left: 30pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	border-left: 1pt solid;
	border-bottom: 1pt solid;
}
div.highlighReponse {
	margin-left: 30pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	border-left: 1pt solid;
	border-bottom: 1pt solid;
	border-color: gold;
}

div.addReponse {
	margin-left: 30pt;
}

div.addCommentaire {
	padding-top: 20pt;
	padding-bottom: 20pt;
	font-weight: bold;
	font-size: 150%;
	margin-left: 5%;
	margin-right: 30%;
}

span.comm {
	color: gold;
}
