body {
	background: black;
	color: white;
	font-family: Verdana, sans-serif;
}

a{
	color: white;
}


div.header {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

div.footer {
	font-size: 90%;
}


img.logoRezo1 {
	float: left;
}

img.logoRezo2 {
	float: right;
}

span.intro {
	font-size: 160%;
	margin: auto;
}

span.listName {
	color: gold;
	font-weight: bold;
	font-size: 140%;
}


p.sommaireP{
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

img.logoListe {
	float : middle;
}


div.speech {
	display: block;
	font-size: 100%;
}


div.jeux {
	display: block;
	font-size: 100%;
}

span.nom {
	color: blue;
	font-weight: bold;
}

span.voie {
	color: red;
	font-weight: bold;
}
